<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{css/style_basket.css}"/>
</head>
<body>
<div>
    <h1 th:text="'Корзина: '+${countCar} + ' товаров!'">Корзина: 0 товаров.</h1>
</div>
<div  class="table_car">
    <div class="element">
        <p > Name</p>
        <p > Cost</p>
        <p> Count</p>

    </div>
</div>
<div th:each="car: ${cars}" class="table_car">
    <div class="element">
        <p th:text="${car.name}"> Name</p>
        <p class="cost" th:id="'col' + ${car.id}" th:text="${car.cost}"></p>
        <div class="amount">
            <span class="down">-</span>
            <input class="inp" th:id="'co'+${car.id}" th:value="${car.desk}"> </input>
            <span class="up">+</span>
        </div>
        <button th:id="${car.id}" >&times;</button>
    </div>
</div>
<div>
    <h1  class="sum"> Итого:<h2 id="sums" th:text="${price}"> </h2>  руб.</h1>
</div>
<button> Оформить заказ! </button>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript" src="../js/basket.js"></script>
</body>
</html>